@model Game

<h2>Update @Model.name</h2>

@using (Html.BeginForm("UpdateGameToDatabase", "Game", "Post"))
{
    <input asp-for="gameID" type="hidden" value="@Model.gameID" />

    <label asp-for="name" class="control-label">Name</label>
    <input type="text" name="Name" class="form-control" value="@Model.name" />

    <label asp-for="genre" class="control-label">Genre</label>
    <input type="text" name="Genre" class="form-control" value="@Model.genre" />

    <label asp-for="release_date" class="control-label">Release Date</label>
    <input type="number" name="release_date" class="form-control" value="@Model.release_date" />

    <label asp-for="status" class="control-label">Status</label>
    <select asp-for="status" class="form-control custom-dropdown-2">
        <option value="Not Played">Not Played</option>
        <option value="To Play">To Play</option>
        <option value="Played Not Beaten">Played, Not Beaten</option>
        <option value="Beaten">Beaten</option>
    </select>

    <input type="submit" value="Update Game" class="btn btn-primary" />
}